<footer class="text-center footer">
  <div class="container">
    <div class="row section">
      <div class="col-12">
        <h4 class="fw-semibold">{{ i18n `professional_links` }}</h4>
        {{ if .Site.Params.social }}
          <ul class="list-inline social-links">
            {{ range .Site.Params.social }}
              <li class="list-inline-item">
                <a href="{{ .link | safeURL }}" title="{{ .title | humanize }}">
                  <i class="{{ .icon }}"></i>
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>

    <div class="row">
      <div class="col-12 border-top py-4">
        <p>{{ .Site.Params.copyright | markdownify }} {{ if .Site.Params.theme_copyright }} {{ end }}</p>
      </div>
    </div>
  </div>
</footer>
